

.marked-container {
    color: var(--text-color-muted);
}

.colmatic {
    h2, p {
        margin: 0;
    }

    main {
        display: flex;
        flex-flow: column;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        header {
            display: flex;
            flex-flow: row;
            width: 100%;
            position: sticky;
            top: 0;
            background-color: var(--background);
            z-index: 1;

            h2 { flex: 1; }
            a { 
                margin: auto 5px;
                background-color: var(--background); 
            }
        }

        .role {
            display: flex;
            flex-flow: column;
            margin-bottom: 10px;
            margin-right: 5px;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--pri-accent);

            .title {
                display: flex;
                flex-flow: row;

                span { flex: 1; margin: auto 0; }
                a { margin: auto 5px; }
            }

            .desc {
                display: flex;
                flex-flow: row wrap;
                label {
                    margin-top: 5px;
                }

                .tag {
                    margin-top: 5px;
                    margin-left: 5px;
                    padding: 0 5px;
                    background-color: var(--primary);
                    border-radius: 5px;
                    white-space: pre;
                }
            }
        }
    }
}

.popup-edit-role {
    display: flex;
    flex-flow: column;
    min-height: 100%;

    .perms-grid {
        display: flex;
        flex-flow: row wrap;
    
        .title {
            width: 100%;
        }
    
        .checkbox {
            width: 40%;
        }
    }

    footer {
        margin-top: auto;
        display: flex;

        :first-child {
            margin-left: auto;
        }
    }
}

.delete-confirm {
    .center {
        footer {
            display: flex;
            flex-flow: row;

            button {
                margin: 5px auto;
            }
        }
    }
}

